.App-header {
  background-color: #edf2fd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.project {
  font-size: large;
}

.form{
  visibility: visible;
}

.hideForm{
  visibility: hidden;
}

.subtext {
  font-size: medium;
  color: blueviolet;
}

.showForm{
  visibility: visible;
}

.displaySub{
  font-size: medium;
}
.displayTitle{
  font-size: larger;
}
.displayBar{
  font-size: medium;
}